.parallax {
  position: relative;
  height: 100vh;
  background-image: url("../../assets/about-me-4.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}



/* w-0 h-600px border-t-10 border-transparent border-b-10 border-transparent border-r-20 border-transparent*/