@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease forwards;
}

.animate-zoomIn {
  animation: zoomIn 0.3s ease forwards;
}

.trapezoid {
  width: 0;              /* top width */
  height: 600px;                 
  border-bottom: 80px solid transparent;  /* height + color */
  border-top: 80px solid transparent;  /* height + color */
  border-right: 150px solid white;
}

.project-carousel-container {
  transform-style: preserve-3d;
}

.card {
  transform: perspective(400px) rotatey(-10deg);
  transition: 0.3s ease;
}
.card:hover {
  transform: perspective(800px) rotateY(0deg);
}
