.image-blur-edges {
  mask-image: radial-gradient(circle, white 60%, transparent 100%);
  -webkit-mask-image: radial-gradient(circle, white 30%, transparent 100%);
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}


