.typing {
  width: 16ch; /* number of characters */
  white-space: nowrap;
  overflow: hidden;
  animation: typing 3s steps(16) infinite alternate, blink 0.5s step-end infinite alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 16ch;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.glowing {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 5px #7C3AED, 0 0 10px #7C3AED;
    }

    50% {
        box-shadow: 0 0 10px #7C3AED, 0 0 20px #7C3AED;
    }
}

.fadeIn {
    animation: fadeIn 6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.carousel {
    margin: 20px auto;
    width: 250px;
    /* border: 1px solid red; */
    height: 3rem;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    animation: spin 10s linear infinite;
    /* padding-right: 1rem; */
}

.card-carousel {
    flex: 0 0 3rem;
    align-items: center;
    justify-content: center;
    height: 3rem;
    /* width: 10rem; */
    padding: 0.75rem;
    border-radius: 2rem;
    /* background-color: cornflowerblue; */
    font-size: 2rem;
    border-radius: .2rem;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

.up-and-down{
    animation: upDown 1s linear infinite;
}

@keyframes upDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}