.typing {
    width: 16ch;
    /* number of characters */
    /* border: 1px solid #7C3AED; */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(16) infinite alternate, blink 0.5s step-end infinite alternate;
    animation-delay: 2s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 16ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.glowing {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 0px #7C3AED, 0 0 10px #7C3AED;
    }

    50% {
        box-shadow: 0 0 10px #7C3AED, 0 0 30px #7C3AED;
    }
}

.glowingBlue {
    animation: glowBlue 2s ease-in-out infinite;
}

@keyframes glowBlue {

    0%,
    100% {
        box-shadow: 0 0 5px #415ff5, 0 0 10px #415ff5;
    }

    50% {
        box-shadow: 0 0 10px #415ff5, 0 0 20px #415ff5;
    }
}

.fadeIn {
    animation: fadeIn 6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Add this rule to ensure opacity is 10% after AOS completes */
/* This targets elements with the 'up-and-down3' class that have completed an AOS animation */
.up-and-down1[data-aos].aos-animate {
    opacity: 0.25 !important;
}

.up-and-down2[data-aos].aos-animate {
    opacity: 0.5 !important;
}

.up-and-down3[data-aos].aos-animate {
    opacity: 1 !important;
}

.balls {
    position: absolute;
    background: linear-gradient(to bottom, var(--color-surface), var(--color-accent));
    border-radius: 100%;
    box-shadow: 0 0 40px #7C3AED;
}

.carousel {
    /* margin: 20px auto; */
    /* margin-bottom: 24px; */
    /* width: 100dvw; */
    /* border: 1px solid red; */
    height: 3rem;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
    animation: spin 8s linear infinite;
    /* padding-right: 1rem; */
}

.card-carousel {
    flex: 0 0 4rem;
    align-items: center;
    justify-content: center;
    height: 3rem;
    /* width: 10rem; */
    padding: 0.75rem;
    border-radius: 2rem;
    /* background-color: cornflowerblue; */
    font-size: 2rem;
    border-radius: .2rem;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}