.typing {
    width: 19ch;
    /* number of characters */
    /* border: 1px solid #7C3AED; */
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(19) infinite alternate, blink 0.5s step-end infinite alternate;
    animation-delay: 2s;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 19ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

.glowing {
    animation: glow 2s ease-in-out infinite;
}

@keyframes glow {

    0%,
    100% {
        box-shadow: 0 0 0px #7C3AED, 0 0 10px #7C3AED;
    }

    50% {
        box-shadow: 0 0 10px #7C3AED, 0 0 30px #7C3AED;
    }
}

.glowingBlue {
    animation: glowBlue 2s ease-in-out infinite;
}

@keyframes glowBlue {

    0%,
    100% {
        box-shadow: 0 0 5px #415ff5, 0 0 10px #415ff5;
    }

    50% {
        box-shadow: 0 0 10px #415ff5, 0 0 20px #415ff5;
    }
}

.fadeIn {
    animation: fadeIn 6s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Add this rule to ensure opacity is 10% after AOS completes */
/* This targets elements with the 'up-and-down3' class that have completed an AOS animation */
.up-and-down1[data-aos].aos-animate {
    opacity: 0.25 !important;
}

.up-and-down2[data-aos].aos-animate {
    opacity: 0.5 !important;
}

.up-and-down3[data-aos].aos-animate {
    opacity: 1 !important;
}

.balls {
    position: absolute;
    background: linear-gradient(to bottom, var(--color-surface), var(--color-accent));
    border-radius: 100%;
    box-shadow: 0 0 40px #7C3AED;
}

@keyframes spin {
    from {
        translate: 0;
    }

    to {
        translate: -100%;
    }
}

.clip-hex {
  clip-path: polygon(
    25% 0%, 175% 0%,
    100% 0%, 75% 100%,
    25% 100%, 0% 50%
  );
}
